In [54]:
# Dependencies
import pandas as pd

### Loading csv files

In [32]:
# load csv into dataframe

# sales files
coke_sales = pd.read_csv('data/Coke_data_cleaned.csv')
pepsi_sales = pd.read_csv('data/Pepsi_Receipts_Report_CLEAN.csv')
jj_sales = pd.read_csv('data/Jack&Jill_19-20_Receipts Report_.CLEAN.csv')

# list files
coke_list = pd.read_csv('data/Coke_items.csv')
pepsi_list = pd.read_csv('data/pepsi_items.csv')
jj_list = pd.read_csv('data/jj_items.csv')

### Cleaning up Sales files

In [32]:
# Renaming Columns
coke_sales = coke_sales.rename(columns={
    'Item Name\n': 'Item_Name',
    'Size\n': 'Size',
    'Order\nQty': 'Order_Qty',
    'Rcvd\nQty': 'Rcvd_Qty',
    'Cost\n': 'Cost',
    'Extended\nCost': 'Extended_Cost'
})
coke_sales = coke_sales[['Item_Name','Size','Order_Qty','Rcvd_Qty','Cost','Extended_Cost']]

# Renaming Columns
coke_sales = coke_sales.dropna(how='any')

coke_sales.head()

,Item_Name,Size,Order_Qty,Rcvd_Qty,Cost,Extended_Cost
2,14Z Yup Chocolate,CASE (12 14.16 Ounces),2.0,2.0,17.51,35.02
3,14Z Yup Lowfat,CASE (12 12 Ounces),1.0,1.0,17.51,17.51
4,14Z Yup Strawberry,CASE (12 14.16 Ounces),1.0,1.0,17.51,17.51
5,14Z Yup Vanilla,CASE (12 14.16 Ounces),1.0,1.0,17.51,17.51
7,"Energy, 16oz Monster, Ultra White",CASE (24 1 Each),1.0,1.0,39.50,39.50

In [29]:
# Renaming Columns
pepsi_sales = pepsi_sales.rename(columns={
    'Item Name\n': 'Item_Name',
    'Size\n': 'Size',
    'Order\nQty': 'Order_Qty',
    'Rcvd\nQty': 'Rcvd_Qty',
    'Cost\n': 'Cost',
    'Extended\nCost': 'Extended_Cost'
})

# Renaming Columns
pepsi_sales = pepsi_sales.dropna(how='any')

pepsi_sales

,Item_Name,Size,Order_Qty,Rcvd_Qty,Cost,Extended_Cost
0,Starbucks CB BLK UNSW,CASE (12 11 Ounces),12.0,1.0,28.64,28.64
2,"Starbucks, Double Shot Vanilla Energy",CASE (12 1 Each),1.0,1.0,27.00,27.00
3,"Starbucks, Double Shot White Chocolate",CASE (12 1 Each),1.0,1.0,27.00,27.00
4,"Starbucks, Frappuccino, Brown Butter Caramel",CASE (12 1 Each),1.0,1.0,24.00,24.00
6,"Starbucks, Frappuccino, Coffee",CASE (12 1 Each),1.0,1.0,24.00,24.00
...,...,...,...,...,...,...
3895,"Pure Leaf Tea, Sweet",CASE (12 1 Each),2.0,2.0,14.58,29.16
3896,"Pure Leaf Tea, Unsweetened Black",CASE (12 1 Each),1.0,1.0,14.58,14.58
3898,"Bubly 16oz, Blackberry",CASE (12 1 Each),1.0,1.0,9.00,9.00
3899,"Bubly 16oz, Lime",CASE (12 1 Each),1.0,1.0,9.00,9.00
3900,"Bubly 16oz, Strawberry",CASE (12 1 Each),1.0,1.0,9.00,9.00

In [40]:
jj_sales = jj_sales.rename(columns={
    'Item Name\n': 'Item_Name',
    'Size\n': 'Size',
    'Order\nQty': 'Order_Qty',
    'Rcvd\nQty': 'Rcvd_Qty',
    'Cost\n': 'Cost',
    'Extended\nCost': 'Extended_Cost'
})
jj_sales = jj_sales[['Item_Name','Size','Order_Qty','Rcvd_Qty','Cost','Extended_Cost']]
jj_sales = jj_sales.dropna(how='any')
jj_sales

,Item_Name,Size,Order_Qty,Rcvd_Qty,Cost,Extended_Cost
2,"Odwalla, Mango Tango",Case (8 1 Each),1.0,1.0,18.40,18.40
3,"Odwalla, Mo' Beta",Case (8 1 Each),1.0,1.0,18.40,18.40
4,"Odwalla, Protein Monster Chocolate",Case (8 1 Each),1.0,1.0,18.40,18.40
5,"Odwalla, Protein Monster Vanilla",Case (8 1 Each),1.0,1.0,18.40,18.40
6,"Odwalla, Red Rhapsondy",Case (8 1 Each),1.0,1.0,18.40,18.40
...,...,...,...,...,...,...
1913,CPK 12 thin c bbq chicken,CASE (12 2 Fl Ozs),1.0,1.0,72.80,72.80
1914,Evol SSRV Fire Grill Steak,Case (8 1 Each),2.0,2.0,31.68,63.36
1915,Evol SSRV Mac&Cheese Truffle,Case (8 1 Each),1.0,1.0,31.68,31.68
1916,"Talenti Gelato, Caramel Choc Crunch",Case (8 1 Each),1.0,1.0,34.32,34.32
1917,TALENTI layers CHOC CHER,Case (8 1 Each),1.0,1.0,40.16,40.16

In [43]:
coke_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Â Â Item NameÂ Â          342 non-null    object
 1   Â Â Inventory GroupÂ Â    342 non-null    object
 2   Â Â Primary VendorÂ Â     342 non-null    object
dtypes: object(3)
memory usage: 8.1+ KB

In [45]:
pepsi_list.columns = ['Item Name','Inventory Group','Primary Vendor']
pepsi_list

,Item Name,Inventory Group,Primary Vendor
0,"1 Liter, BRSK PK LMND",Beverages:Sodas,Pepsi Bottling Company
1,"1 Liter, BRSK STW MLN",Beverages:Sodas,Pepsi Bottling Company
2,"1 Liter, Diet Pepsi",Beverages:Sodas,Pepsi Bottling Company
3,"1 Liter, Dr Pepper",Beverages:Sodas,Pepsi Bottling Company
4,"1 Liter, Pepsi",Beverages:Sodas,Pepsi Bottling Company
...,...,...,...
219,"Tropicana 52oz, Lemonade",Beverages:Juices,Pepsi Bottling Company
220,"Tropicana 52oz, Orange No Pulp",Beverages:Juices,Pepsi Bottling Company
221,"Tropicana 52oz, Rasp Lemonade",Beverages:Juices,Pepsi Bottling Company
222,"Tropicana 52oz, Watermelon",Beverages:Juices,Pepsi Bottling Company
223,Voss Glass Still 800ml,Beverages:Water,Pepsi Bottling Company

In [46]:
jj_list

,Item Name,Inventory Group,Primary Vendor
0,Alo Allure Mango,Freezer:Ice Cream,Jack & Jill
1,Alo Crisp Fuji Apple,Freezer:Ice Cream,Jack & Jill
2,Amy's Enchilada Cheese,Freezer:Ice Cream,Jack & Jill
3,Amy's Indian,Freezer:Ice Cream,Jack & Jill
4,Amy's Mexican Casserole,Freezer:Ice Cream,Jack & Jill
...,...,...,...
298,"V8 Energy Drink, Orange Pineapple",Beverages:Juices,Jack & Jill
299,"V8 Energy Drink, White Grap Rasp",Beverages:Juices,Jack & Jill
300,V8 Original 12 oz,Beverages:Juices,Jack & Jill
301,V8 Strawberry Banana 12 oz,Beverages:Juices,Jack & Jill
302,"Water, Evian 1 liter",Beverages:Water,Jack & Jill

In [48]:
jj_list.to_csv('Upload_files/jj_list.csv',index=False)

In [49]:
pepsi_list.to_csv('Upload_files/pepsi_list.csv',index=False)

In [50]:
coke_list.to_csv('Upload_files/coke_list.csv',index=False)

In [51]:
pepsi_sales.to_csv('Upload_files/pepsi_sales.csv',index=False)

In [52]:
jj_sales.to_csv('Upload_files/jj_sales.csv',index=False)

In [53]:
coke_sales.to_csv('Upload_files/coke_sales.csv',index=False)